// 레이아웃 버튼

.next {
  color: white;
}
// 컨테이너

.container {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

// 네비게이션

.navBar {
  // 여기다가 투명도를 두어서 밑에 가리는 애들이 살짝 보이게 하자.
  position: fixed;
  background: white;

  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 12px;

  font-size: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  z-index: 5;

  .home {
    margin-left: 2rem;

    text-decoration: none;
    color: black;
  }

  .menuWrap {
    margin-right: 2rem;
  }

  .menu1,
  .menu2 {
    display: inline-block;
    cursor: pointer;
    margin-right: 2rem;
    padding: 12px;
  }

  // 메뉴 아이템들의 호버 이벤트
  .scale {
    transform: scale(1, 1);
    transition: transform 0.5s ease;
  }

  .menu1:hover .scale,
  .menu2:hover .scale {
    transform: scale(1.1, 1.1);
  }
}

.mainWrap,
.aboutWrap,
.portfolioWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main,
.about,
.portfolios {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.next {
  position: absolute;
  top: 93%;
  cursor: pointer;
  font-size: 2rem;
}

.aboutWrap {
  position: relative;
  color: white;

  // .aboutTitle {
  //   font-size: 1.5rem;
  //   position: absolute;
  //   top: 10%;
  //   left: -5%;
  // }

  .arrows {
    position: absolute;
    top: 92%;
    cursor: pointer;
    font-size: 2rem;
    span {
      padding: 0 8px;
    }
  }
}

.portfolioWrap {
  position: relative;
  // .portfolioTitle {
  //   font-size: 1.5rem;
  //   position: absolute;
  //   top: 10%;
  //   left: -5%;
  // }
}

// 맨 위로 스크롤 화살표

.toTop {
  cursor: pointer;
  position: fixed;
  top: 93%;
  left: 95%;
  font-size: 2rem;

  z-index: 5;
}

.hide {
  display: none;
}
