// 레이아웃 스타일링

// 네비게이션
.navBar {
  // 여기다가 투명도를 두어서 밑에 가리는 애들이 살짝 보이게 하자.
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
  padding-top: 12px;
  height: 3rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;

  .home {
    margin-left: 4rem;
    padding: 12px;
    text-decoration: none;
    color: black;
  }

  .menuWrap {
    margin-right: 2rem;
  }

  .menu1,
  .menu2 {
    display: inline-block;
    cursor: pointer;
    margin-right: 2rem;
    padding: 12px;
  }

  // 메뉴 아이템들의 호버 이벤트
  .scale {
    transform: scale(1, 1);
    transition: transform 0.5s ease;
  }

  .menu1:hover .scale,
  .menu2:hover .scale {
    transform: scale(1.1, 1.1);
  }
}

.mainWrap,
.aboutWrap,
.portfolioWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main,
.about,
.portfolios {
  min-height: 95vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.next,
.previous,
.arrows {
  cursor: pointer;
  font-size: 2rem;
  span {
    padding: 0 8px;
  }
}

// 맨 위로 스크롤 화살표

.toTop {
  cursor: pointer;
  position: fixed;
  top: 95%;
  left: 95%;
  font-size: 2rem;

  z-index: 5;
}

.hide {
  display: none;
}
