@import "../style/common.scss";

.imgWrap {
  width: 800px;
  height: 400px;
}

.carousel-inner {
  margin-top: 100px;
}

.carousel-item.active {
  height: 600px;
}

.portfolios {
  span {
    cursor: pointer;
  }

  img {
    height: 100%;
  }

  padding: 8px;
  p {
    margin: 12px 0;
  }
  .item1,
  .item2 {
    margin-top: 10rem;
    min-height: 100vh;
    position: relative;
  }

  .title {
    font-size: 2rem;
  }
  .projectIssues {
    color: black;
  }

  .scale {
    transform: scale(1, 1);
    transition: transform 0.5s ease;
  }

  .description:hover .scale {
    transform: scale(1.1, 1.1);
  }

  .icons1 {
    font-size: 1.8rem;
  }

  .issue {
    border: 1px solid black;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    padding: 4px;
    font-size: 1.3rem;
    line-height: 1.5;
  }

  a {
    padding: 8px;
  }

  // 두번째 아이템
  .omokImg {
    max-width: 600px;
    width: 100%;
    height: auto;
  }

  // 다음, 이전 프로젝트 글씨

  .toNextProject {
    font-size: 2.5rem;
    cursor: pointer;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include breakpoint("minimum") {
      font-size: 2rem;
      position: absolute;
      top: 75%;
      left: 50%;
    }

    @include breakpoint("mobile") {
      font-size: 2rem;
      position: absolute;
      top: 75%;
      left: 50%;
    }
  }

  .toPreviousProject {
    cursor: pointer;
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    @include breakpoint("minimum") {
      position: absolute;
      font-size: 2rem;
      top: 75%;
      left: 50%;
    }

    @include breakpoint("mobile") {
      position: absolute;
      font-size: 2rem;
      top: 75%;
      left: 50%;
    }
  }
}

// .c1,
// .c2 {
//   padding: 12px;
//   height: 100%;
//   width: 100%;
// }
